<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Formulaire un RDV</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header" >Formulaire
							de prise de rdv</div>
						<div class="card-body">
							<form th:action="@{priseRdv}" method="post">
								<div class="form-group">
									<label class="control-label">ID</label> <Label
										class="control-label" th:text="${patient.id}"></Label> <input
										type="hidden" class="form-control" name="id"
										th:value="${patient.id}">
								</div>
								<div class="form-group">
									<label class="control-label">date naissance</label> <input
										type="date" class="form-control" name="dateRdv">
								</div>
								<div class="form-group">
									<label class="control-label">Medecin</label>
									<div class="dropdown">
										<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											List Medecin
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" th:each="m:${listMedecin}">
											<a class="dropdown-item" th:text="${m.name}"></a>
										</div>
									</div>
								</div>

								<button class="btn btn-success" type="submit">Save</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>