<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Home</title>
</head>
<body>
	<div layout:fragment="content" class="container">

		<form method="get" th:action="index">
			<label>name</label> <input type="text" name="keyword"
				th:value="${keyword}">
			<button class="btn btn-success">Chercher</button>
		</form>
		<table class="table table-hover table-bordered">
			<tr>
				<th>id</th>
				<th>nom</th>
				<th>date</th>
				<th>Ajouter Rdv</th>
				<th>delete</th>
				<th>edit</th>
			</tr>
			<tr th:each="p:${list}">
				<td th:text="${p.id}"></td>
				<td th:text="${p.name}"></td>
				<td th:text="${p.dateNaissance}"></td>
				<td ><a class="btn btn-secondary"
						th:href="@{priseRDV(id=${p.id})}"> reserver</a>
				</td>
				<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger"
					onclick="return confirm('Voulez vous supprimer ce patient?')"
					th:href="@{deletePatient(id=${p.id},page=${currentPage},size=${size},keyword=${keyword})}">delete</a></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-secondary"
					th:href="@{editPatient(id=${p.id})}">edit</a></td>	
			</tr>
		</table>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}"><a
						th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
						th:href="@{index(page=${status.index},keyword=${keyword},size=${size})}"
						th:text=${status.index}></a></li>
				</ul>
			</div>
			<div class="col-md-4"></div>
		</div>

	</div>
</body>
</html>